<div class="sidebar p-3">
    <h4>Users</h4>
    <ul>
        <li class="sidebar-link {{app.request.attributes.get('_route') == 'user_list' ? 'active' : '' }}">
            <i class="bi bi-people-fill"></i>
            <a href="{{ path('user_list') }}" class="{{app.request.attributes.get('_route') == 'list' ? 'active' : '' }}">Users List</a>
        </li>
    </ul>
</div>