.navbar {
    height: 5rem;
    background-color: $white-color; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
        color: $red-color!important;
    }    

    .avatar {
        margin-right: 10px;
        height: 40px;
        width: 40px;
    }

    .username {
        margin-right: 15px;
        font-size: 1.25rem;
        font-weight: bold;
        color: $purple-color;
    }

    .dropdown-menu {
        border: 1px solid $purple-color;

        .dropdown-item {
            color: $purple-color;
            font-weight: 500;
        }

        .logout-link {
            color: $red-color;
        }
    }
}