@media (max-width: 992px) {

    /* navbar */

    .dropdown .dropdown-toggle {
        margin-top: 15px;
        background-color: $purple-color;
        border-radius: 5px;

        .username {
            color: $white-color;
            margin-left: 10px;
        }
    }

    /* banner */

    .banner-container {
        height: 78vh;
        position: relative;

        .banner {
            position : absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 768px) {

    /* navbar */
    
    .navbar-header .navbar-brand {
        font-size: 1.85rem;
    }

    .btn.btn-custom,.btn.btn-signin {
        font-size: 1rem;
    }

    /* banner */

    .banner-text {
        font-size: 1.25rem;
    }

    .btn.btn-custom.text-custom,.btn.btn-signin.text-custom {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {

    /* navbar */

    .navbar-header .navbar-brand {
        font-size: 1.4rem;
    }

    .btn.btn-custom,.btn.btn-signin {
        font-size: 0.7rem;
    }

    /* banner */

    .banner-text {
        font-size: 1rem;
    }

    .btn.btn-custom.text-custom,.btn.btn-signin.text-custom {
        font-size: 0.85rem;
    }

    footer {
        font-size: 0.75rem;
    }
}