{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <h1>Liste des Tâches Terminées</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }}</li>
            <a href="{{ path('edit_task', {'id': task.id}) }}">Voir les détails</a>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche terminée. <a href="{{ path('create_task') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </ul>
    
{% endblock %}