$white-color: #F8F9FA;
$black-color: #4C4C4C;
$purple-color: #6B46F1;
$red-color: #FF2E56;
$yellow_color: #FBD304;
$grey-color: #EBECED;

$white-light-color: #FFFFFF;
$purple-light-color: #F0ECFD;
$red-light-color: #FF96AA;
$yellow-light-color: #FDE981;

$roboto-font: 'Roboto', sans-serif;