{% extends 'base_error.html.twig' %}

{% block content %}
    <div class="block-error">
        <img class="img-fluid" src="{{ asset('img/404.jpg') }}" alt="errorpage">
        <h1>Oops!</h1>
        <h3>The page you are looking for does not exist.</h3>
        <h3><a href="{{ path('app_home') }}" class="btn btn-custom text-custom btn-lg mt-4">Back</a></h3>
    </div>
{% endblock %}